@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: (
          main: #006644,
          on-main: #ffffff,
          container: #d2e8d9,
          on-container: #002113,
        ),
        secondary: (
          main: #ffcc00,
          on-main: #342e00,
          container: #ffdf00,
          on-container: #221c00,
        ),
        tertiary: (
          main: #e21e26,
          on-main: #ffffff,
          container: #ffdad9,
          on-container: #410006,
        ),
      ),
      typography: (
        brand-family: 'Poppins',
        plain-family: 'Inter',
      ),
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
